/*

* {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

div {
  display:flex;
  width:100%;
  flex-wrap:wrap;
  border: 0.5px solid grey;
}
html,
body {
  height: 100%; }
*/

.btn{
  font-family: FontAwesome;
   color:#F5F5F5; 
   background: #616161;  
   

}
.btn:not( :hover ){   
  font-family: FontAwesome;
  color:#F5F5F5; 
  background: #616161;  
}

.btn-line{
  font-family: FontAwesome;
   color:#616161; 
   background: rgb(227,227,227);  
   border:none
}
.btn-line:not( :hover ){   
  color:#616161; 
  background: rgb(227,227,227);  
  
}

.btn:focus {
  outline: none;
}


table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}

.data-cell{
  text-align:right;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
   opacity: 0.01; 
  transition: opacity 500ms ease-in; 
}

tr div {
   max-height: 20px; 
}

tr.false div {
  max-height: 0;
  overflow: hidden; 
  transition: max-height 0.5s;
}

tr.false th,tr.false td{
  border-top:0 !important; 
  padding-top:0  !important;
  padding-bottom:0  !important;
  transition: border-top 1s,padding-top 0.5s,padding-b 0.5s;
}

.navbar-default{
    background-color: rgb(97, 97, 97);
    color:#FFF;    
}